.alert-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  width: 25%;
  right: 1.2rem;
  height: 40px;
  position: fixed;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 12px #00000081;
  padding: 0 0.5rem;
}

@media screen and (max-width: 640px) {
  .alert-box {
    width: 90%;
  }
}
