.ham-btn {
  font-size: 2rem;
  border: none;
  background: none;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  padding: 0.2rem;
  top: 80px;
  left: 10px;
  z-index: -1;
  transition: all 50ms linear;
}

.ham-btn:active {
  transform: scale(0.9);
}

.button-box {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5rem;
}

.clearSearch-btn {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  right: 10px;
  font-weight: 600;
  padding: 0.2rem;
}

.home-container {
  top: 70px;
  position: absolute;
  left: 0%;
  width: 100%;
  min-height: 85vh;
  transition: all 200ms linear;
  padding: 0.5rem;
}
.home-header {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm-ham {
  border: none;
  background: none;
  font-size: 1.5rem;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  grid-auto-rows: 250px;
  margin-top: 20px;
  justify-items: center;
  padding: 0 1rem;
}
.home-title {
  color: var(--text-black-700);
  font-size: 1.5rem;
}
.card {
  min-width: 220px;
  width: 200px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: #000;
}

.new-note {
  background: #fff7cc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: all 100ms linear;
  font-size: 3rem;
}

.uil-plus {
  font-size: 50px;
}

.note {
  display: flex;
  flex-direction: column;
  transition: all 100ms linear;
}

.note:hover,
.new-note:hover {
  box-shadow: 0 0 4px #00000083;
}
.new-note:active {
  transform: scale(0.99);
  box-shadow: none;
}

.note-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-color: #ddebff;
  border-radius: 10px 10px 0 0;
}

.note-img-lines {
  background-color: #000;
  margin-bottom: 15px;
  width: 80%;
  height: 1px;
}

.note-about {
  padding: 0.2rem 0.5rem 0.4rem 0.5rem;
  width: 100%;
  height: 40%;
  background-color: #fff7cc;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-category {
  font-size: 0.8rem;
}

.note-description {
  font-size: 0.66rem;
  /* height: 35%; */
}

.created-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateIcon {
  font-size: 1.1rem;
  margin-right: 2px;
  color: #15008d;
}

.date {
  font-size: 0.8rem;
}

.formatting-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0.1rem;
  border-radius: 2px;
  font-size: 1.1rem;
  margin: 0 0.15rem;
}

.select-btn {
  color: #4693ff;
}

.deleteNote-btn {
  color: #bb2525;
}

.action-btns:hover {
  box-shadow: 0px 0px 3px #2d2b365e;
}
.action-btns:active {
  transform: scale(0.95);
  box-shadow: none;
}

@media screen and (min-width: 640px) {
  .ham-btn {
    display: flex;
  }
  .sm-ham {
    display: none;
  }
  .home-container {
    width: 80%;
    left: 20%;
  }
  .home-container-closed-sidebar {
    left: 10%;
  }
}
