
.home-container {
  background-color: #ffffff;
  position: absolute;
  left: 20%;
  width: 80%;
  height: 100vh;
  padding: 0 40px;
}
.home-content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 20px;
}
.home-title {
  font-weight: 400;
  font-size: 50px;
  /* line-height: 77px; */
  color: var(--text-black-700);
}
.card {
  width: 220px;
  height: 270px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.new-note {
  background: #fff7cc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uil-plus {
  font-size: 50px;
}

.note {
  display: flex;
  flex-direction: column;
}

.note-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 160px;
  background-color: #ddebff;
  border-radius: 10px 10px 0 0;
}

.note-img-lines {
  background-color: black;
  margin-bottom: 15px;
  width: 80%;
  height: 1px;
}

.note-about
{
    padding: 2px 20px;
    width: 220px;
    height: 110px;
    background-color:#FFF7CC;
    border-radius: 0 0 10px 10px;
}

.note-title
{
    font-size: 20px;
    font-weight: 600;
}

.note-category
{
    margin-left: 40px;
    font-size: 12px;
    font-weight: 400;
}

.note-description
{
    font-size: 10px;
}

.note-about button
{
    margin-top: 5px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #2d2b365e;
}
.note-about button:active
{
    transform:scale(.9);
}

.delete-icon
{
    margin-top: 5px;
    margin-left: 90px;
    font-size: 20px;
    cursor: pointer;
}