.ham-btn {
  font-size: 2rem;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  padding: 0.2rem;
  top: 80px;
  left: 10px;
  z-index: -1;
  transition: all 50ms linear;
}

.ham-btn:active {
  transform: scale(0.9);
}

.home-container {
  top: 70px;
  background-color: #ffffff;
  position: absolute;
  left: 0%;
  width: 100%;
  min-height: 100vh;
  transition: all 200ms linear;
}
.home-header {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm-ham {
  border: none;
  background: none;
  font-size: 1.5rem;
}

.home-content {
  display: grid;
  margin-top: 20px;
  justify-items: center;
  padding: 0 1rem;
}
.home-title {
  color: var(--text-black-700);
  font-size: 1.5rem;
}
.card {
  min-width: 220px;
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
  margin-bottom: 20px;
}

.new-note {
  background: #fff7cc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: all 100ms linear;
}

.uil-plus {
  font-size: 50px;
}

.note {
  display: flex;
  flex-direction: column;
  transition: all 100ms linear;
}

.note:hover,
.new-note:hover {
  box-shadow: 0 0 4px #00000083;
  transform: scale(1.05);
}
.new-note:active {
  transform: scale(1);
  box-shadow: 0 0 2px #00000083;
}

.note-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-color: #ddebff;
  border-radius: 10px 10px 0 0;
}

.note-img-lines {
  background-color: black;
  margin-bottom: 15px;
  width: 80%;
  height: 1px;
}

.note-about {
  padding: 0.1rem 0.5rem;
  width: 100%;
  height: 110px;
  background-color: #fff7cc;
  border-radius: 0 0 10px 10px;
}

.note-title {
  font-size: 20px;
  /* border: 2px solid black; */
  font-weight: 600;
}

.note-category {
  margin-left: 40px;
  font-size: 12px;
  font-weight: 400;
}

.note-description {
  font-size: 10px;
}

.note-about button {
  /* margin-top: 5px; */
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #2d2b365e;
  transition: all 50ms linear;
}
.note-about button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.delete-icon {
  /* margin-top: 5px; */
  margin-left: 90px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  .card {
    width: 200px;
    height: 250px;
  }
}
@media screen and (min-width: 640px) {
  .sm-ham {
    display: none;
  }
  .home-container {
    width: 80%;
    left: 20%;
  }
  .home-container-closed-sidebar {
    left: 10%;
  }
  .home-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .home-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1240px) {
  .home-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1700px) {
  .home-content {
    grid-template-columns: repeat(5, 1fr);
  }
}
