.header {
  background-color: #ffef43;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .logo {
  position: fixed;
  left: 70px;
}
.header a {
  display: flex;
  align-items: center;
}
.header a span {
  font-family: "Clicker script", cursive;
  font-size: 30px;
}
.header a .logo-icon {
  font-size: 30px;
}
.header .search {
  outline: none;
  width: 375px;
  height: 25px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: var(--bg-black-100);
  border: none;
}
.header .search-bar {
  display: flex;
  position: fixed;
  right: 70px;
  background-color: var(--bg-black-100);
  width: 400px;
  height: 25px;
  border-radius: 5px;
}
.header .search:focus {
  outline: none;
  box-shadow: 0 0 20px #2d2b365e;
}
.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  width: 40px;
  height: 25px;
  border-radius: 0 5px 5px 0;
  background-color: var(--bg-black-100);
}

.btn-search:active {
  background-color: #d3d2d2;
}

@media (max-width: 750px) {
  .header .logo {
    left: 10px;
  }
  .header .search {
    width: 175px;
  }
  .header .search-bar {
    right: 10px;
    width: 200px;
  }
}

@media (max-width: 360px) {
  .header a .logo-icon {
    font-size: 25px;
  }
  .header a p {
    font-size: 12px;
  }
  .header .search {
    width: 125px;
  }
  .header .search-bar {
    right: 10px;
    width: 150px;
  }
}
