/* ================ bg-white-100
  Font import
================ */
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap");

/* ==========
  Global variables and styles
  =========*/

:root {
  --red: #bb2525;
  --red-darker: #9c2323;
  --accent-color-primary: #ffe143;
  --accent-color-secondary: #fff7cc;
  --accent-color-secondary-transparent: #fff7ccc8;
  --bg-white-100: #f4f7ff;
  --text-black-900: #302e4d;
  --secondary-color-blue: #ddebff;
  --transition-slow: all 200ms linear;
  --transition-medium: all 100ms linear;
  --transition-fast: all 50ms linear;
  --shadow-dark: 0 0 4px #00000083;
  --shadow-light: 0 0 1px #0000009b;
  --shadow-wide: 0 0 12px #34343481;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  font-family: "poppins" sans-serif;
}

body {
  line-height: 1.5;
  font-size: 16px;
}

/* ==========
  Global classes
  =========*/
.flex {
  display: flex;
}

/* ==========
  Scrollbar styles
  =========*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-primary);
  border-radius: 2px;
}

/* ==============
  Header styles
  ==============*/

.header {
  background-color: var(--accent-color-primary);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  z-index: 2;
}

.header-hidden {
  visibility: hidden;
  transition: var(--transition-slow);
}

.logo {
  width: fit-content;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo a span {
  font-family: "Clicker script", cursive;
  font-size: 30px;
}

.logo-icon {
  font-size: 2rem;
}

.search-bar {
  display: flex;
  background-color: var(--bg-white-100);
  width: 35%;
  min-width: 180px;
  height: 25px;
  border-radius: 5px;
}

.search {
  outline: none;
  width: 90%;
  padding: 0 0.5rem;
  border-radius: 5px 0 0 5px;
  background-color: var(--bg-white-100);
  border: none;
}

.header .search:focus {
  box-shadow: var(--shadow-dark);
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 40px;
  border-radius: 0 5px 5px 0;
  background-color: var(--bg-white-100);
  border-left: 0.5px solid #eaeaea;
}

.btn-search:hover {
  background-color: #eaeaea;
}

.btn-search:active {
  background-color: #d3d2d2;
}

/* ==============
  Sidebar styles
  ==============*/

.sidebar {
  width: 100%;
  height: 90vh;
  position: fixed;
  background-color: var(--accent-color-secondary-transparent);
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  top: 70px;
  left: 0;
  transition: var(--transition-slow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  z-index: 2;
  transform: translate(0);
}

.close-sidebar {
  transform: translate(-100%);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.sidebar-heading {
  transition: var(--transition-slow);
  font-size: 1.1rem;
  color: var(--text-black-900);
}

.closeSidebar-btn {
  color: var(--red);
  font-size: 1.5rem;
  transition: var(--transition-slow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeSidebar-btn:hover {
  color: var(--red-darker);
}
.closeSidebar-btn:active {
  transform: scale(0.9);
}

.category-list {
  overflow-y: auto;
  padding: 0.5rem;
  height: 70vh;
}

.category-list li {
  border-bottom: 1px solid var(--secondary-color-blue);
  padding: 8px 3px;
  transition: var(--transition-slow);
  border-radius: 3px;
  list-style: none;
  cursor: default;
}

.category-list li:hover {
  background-color: var(--secondary-color-blue);
}

.social-icons {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pw-social {
  margin: 0 0.25rem;
  font-size: 1.3rem;
  color: var(--text-black-900);
  cursor: pointer;
  opacity: 0.8;
}

.pw-social:hover {
  opacity: 1;
}

.about-link {
  display: flex;
  justify-content: center;
  align-content: center;
  height: fit-content;
  width: fit-content;
  text-decoration: underline;
  padding: 0.2rem;
  margin: 2px 0;
  border-radius: 4px;
  transition: var(--transition-slow);
}
.about-link:hover {
  background-color: var(--text-black-900);
  color: var(--bg-white-100);
}

/* ==============
  Note area styles
  ==============*/

.ham-btn {
  font-size: 2rem;
  border: none;
  background: none;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  padding: 0.2rem;
  top: 80px;
  left: 10px;
  z-index: -1;
  transition: var(--transition-fast);
}

.ham-btn:active {
  transform: scale(0.9);
}

.button-box {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5rem;
}

.clearSearch-btn {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  right: 10px;
  font-weight: 600;
  padding: 0.2rem;
}

.home-container {
  top: 70px;
  position: absolute;
  left: 0%;
  width: 100%;
  min-height: 85vh;
  transition: var(--transition-slow);
  padding: 0.5rem;
}
.home-header {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sm-ham {
  border: none;
  background: none;
  font-size: 1.5rem;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  grid-auto-rows: 250px;
  margin-top: 20px;
  justify-items: center;
  padding: 0 1rem;
}
.home-title {
  color: var(--text-black-900);
  font-size: 1.5rem;
}
.card {
  min-width: 220px;
  width: 200px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 20px;
  color: var(--text-black-900);
}

.new-note {
  background: var(--accent-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-medium);
  font-size: 3rem;
}

.uil-plus {
  font-size: 50px;
}

.note {
  display: flex;
  flex-direction: column;
  transition: var(--transition-medium);
}

.note:hover,
.new-note:hover {
  box-shadow: var(--shadow-dark);
}
.new-note:active {
  transform: scale(0.99);
  box-shadow: none;
}

.note-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-color: var(--secondary-color-blue);
  border-radius: 10px 10px 0 0;
}

.note-img-lines {
  background-color: var(--text-black-900);
  margin-bottom: 15px;
  width: 80%;
  height: 1px;
}

.note-about {
  padding: 0.2rem 0.5rem 0.4rem 0.5rem;
  width: 100%;
  height: 40%;
  background-color: var(--accent-color-secondary);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-category {
  font-size: 0.8rem;
}

.note-description {
  font-size: 0.66rem;
}

.created-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateIcon {
  font-size: 1.1rem;
  margin-right: 2px;
  color: #15008d;
}

.date {
  font-size: 0.8rem;
}

.formatting-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0.1rem;
  border-radius: 2px;
  font-size: 1.1rem;
  margin: 0 0.15rem;
}

.select-btn {
  color: #4693ff;
}

.deleteNote-btn {
  color: var(--red);
}

.action-btns:hover {
  box-shadow: var(--shadow-dark);
}
.action-btns:active {
  transform: scale(0.95);
  box-shadow: none;
}

/* ==============
  add note page styles
  ==============*/

.addNote-container {
  height: 88vh;
  position: relative;
  top: 70px;
}

.buttons {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-slow);
}

.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.25rem 0.8rem;
  border-radius: 8px;
  background-color: var(--accent-color-primary);
  font-weight: bold;
  box-shadow: var(--shadow-dark);
  color: var(--text-black-900);
  transition: var(--transition-slow);
}

.btn:active {
  transform: scale(0.95);
  box-shadow: var(--shadow-dark);
}

.input-section {
  border-radius: 10px;
  width: 90%;
  margin: auto;
  padding: 2rem 1rem;
  min-height: 80%;
  background-color: var(--bg-white-100);
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.25rem 0;
}

.inps,
.noteContent {
  border: none;
  box-shadow: var(--shadow-dark);
  padding: 0.6rem 0.4rem;
  outline: none;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: var(--transition-fast);
  letter-spacing: 1px;
}

.inps:focus,
.noteContent:focus {
  box-shadow: var(--shadow-dark);
}
.inps::placeholder,
.noteContent::placeholder {
  color: lightgray;
}

.noteTitle {
  width: 100%;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.noteCategory {
  width: 100%;
  font-weight: bold;
}

.noteContent {
  resize: none;
  width: 100%;
  min-height: 300px;
}

/* 
    ===============
    classes for user while writing
    ===============
  */
.buttons-hidden {
  visibility: hidden;
  transition: var(--transition-slow);
}

.input-section-transparent {
  background-color: #fff;
  transition: var(--transition-slow);
}

.inps-writing,
.noteContent-writing {
  box-shadow: none;
  transition: var(--transition-slow);
}
.inps-writing:focus,
.noteContent-writing:focus {
  box-shadow: none;
  transition: var(--transition-slow);
}

/* ==============
  Error page styles
  ==============*/

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.errPgBtn {
  margin: 1.5rem;
}

/* ==============
  alert box styles
  ==============*/

.alert-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  width: 90%;
  right: 1.2rem;
  height: 40px;
  position: fixed;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  box-shadow: var(--shadow-wide);
  padding: 0 0.5rem;
}

/* ==========
    About page
  ========== */

.about-container {
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 70px;
}

.about-box {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--shadow-dark);
  padding: 0.5rem;
  font-weight: bold;
}

.about-creator span {
  font-weight: bold;
  display: none;
}

.avatar-img {
  max-height: 200px;
  border-radius: 50%;
}

.social-accounts {
  display: flex;
  align-items: baseline;
  align-content: center;
}

.social-handle {
  color: var(--text-black-900);
  font-size: 1.25rem;
  align-self: center;
  margin-right: 0.2rem;
}

/* ==========
    Media queries
  ========== */

@media screen and (min-width: 480px) {
  .heading {
    flex-direction: row;
  }

  .inps,
  .noteContent {
    border: none;
    box-shadow: var(--shadow-light);
    padding: 0.3rem 0.5rem;
    outline: none;
    border-radius: 3px;
    font-size: 1.05rem;
    transition: var(--transition-fast);
  }

  .inps-writing,
  .noteContent-writing {
    box-shadow: none;
    transition: var(--transition-slow);
  }
  .inps-writing:focus,
  .noteContent-writing:focus {
    box-shadow: none;
    transition: var(--transition-slow);
  }

  .noteTitle {
    width: 69%;
    margin-bottom: 0;
  }

  .noteCategory {
    width: 30.5%;
  }
}

@media screen and (min-width: 640px) {
  .header {
    padding: 0 3rem;
  }

  .alert-box {
    width: 25%;
  }

  .sidebar {
    width: 20%;
    background-color: var(--accent-color-secondary);
  }

  .ham-btn {
    display: flex;
  }
  .sm-ham {
    display: none;
  }
  .home-container {
    width: 80%;
    left: 20%;
  }
  .home-container-closed-sidebar {
    left: 10%;
  }
  .about-box {
    flex-direction: row;
    text-align: left;
    font-weight: 400;
  }
  .about-creator span {
    display: inline;
  }
}

@media screen and (min-width: 750px) {
  .buttons {
    padding: 0.5rem 5rem;
  }
  .input-section {
    width: 75%;
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 960px) {
  .sidebar-heading {
    font-size: 1.5rem;
  }
  .closeSidebar-btn {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1240px) {
  .sidebar-heading {
    font-size: 1.75rem;
  }
  .closeSidebar-btn {
    font-size: 2rem;
  }
}
